@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');
html.body{height: 100%;}
body{font-family: 'Lexend Zetta', sans-serif;}
.main-title{text-align: center;color:rgb(222, 235, 220); 
padding: 10px;
margin: 10px;
text-shadow: 2px 2px yellowgreen;
transform: rotate(-5deg);}
h3{text-align: center; color:rgb(86, 163, 86)}
.card{text-align: center;}

*{
  margin: 0;
  padding: 0;
}
header{ 
  font-family:'Lexend Zetta', sans-serif;
  height: 100%;
  width: 680px;
  margin: 0 auto;
}
ul{
  list-style: none;
}
#menu li>a{
  background-color: yellowgreen(48, 53, 48);
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}
#menu li>a:hover{
  color:#000;
  background-color: yellowgreen;
}
#menu>li{
  float: left;
  text-align:center
}
#menu>li>ul{
  display: none;
}
#menu>li:hover>ul {
  display:block;
}



#soy{text-align: center;}
#quien{text-align: center;}
