@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
html.body{height: 100%;}
body{font-family: 'Patrick Hand SC', cursive;}
.main-title{text-align: center;color:#540D6E ; 
font-size: 100px;
padding: 10px;
margin: 10px;
text-shadow: 2px 2px #FFD23F;
transform: rotate(-5deg);}
h3{text-align: center; color:#FFD23F}
.card{text-align: center;}

body{
  background-color: rgb(16, 20, 18);
}

*{
  margin: 0;
  padding: 0;
}
header{ 
  font-family: 'Indie Flower', cursive;
  height: 100%;
  width: 680px;
  margin: 0 auto;
}
ul{
  list-style: none;
}
#menu li>a{
  background-color: #540D6E);
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}
#menu li>a:hover{
  color:#000;
  background-color: rgb(123, 39, 153);
}
#menu>li{
  float: left;
  text-align:center
}
#menu>li>ul{
  display: none;
}
#menu>li:hover>ul {
  display:block;
}




